{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}

    <main class="main-wrapper">

        <!-- Start Checkout Area  -->
        <div class="axil-checkout-area axil-section-gap">
            <div class="container">
                <form method="POST">
                    
                    <div class="row">
                        {% csrf_token %}
                        <div class="col-lg-6">
                            <div class="axil-checkout-billing">
                                <h4 class="title mb--40">Billing details</h4>
                                <div class="form-group">
                                    <label>Your Name<span>*</span></label>
                                    {{form.client_name}}
                                </div>

                                <div class="form-group">
                                    <label>State<span>*</span></label>
                                    {{form.state}}
                                </div>

                                <div class="form-group">
                                    <label>District<span>*</span></label>
                                    {{form.district}}
                                </div>
                                
                                
                                <div class="form-group">
                                    <label>Order Address <span>*</span></label>
                                    {{form.address}}
                                </div>
                                <div class="form-group">
                                    <label>Pin Code<span>*</span></label>
                                    {{form.pincode}}
                                </div>
                               
                                <div class="form-group">
                                    <label>Phone <span>*</span></label>
                                    {{form.phone1}}
                                </div>
                                <div class="form-group">
                                    <label>Additional Phone<span>*</span></label>
                                    {{form.phone2}}
                                </div>
                                <div class="form-group">
                                    <label>Email Address <span>*</span></label>
                                    {{form.email}}
                                </div>
                                <button type="submit" class="axil-btn btn-bg-primary checkout-btn">Save</a>
                            </form>    
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="axil-order-summery order-checkout-summery">
                                <h5 class="title mb--20">Your Order</h5>
                                <div class="summery-table-wrap">
                                    <table class="table summery-table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                
                                                <th>Sub Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cart_item in cart_items %}
                                            <tr class="order-product">
                                                
                                                <td>{{cart_item.item.product_name}} (Rs.{{cart_item.item.product_price}}) x {{cart_item.quantity}}<br/></td>
                                                 
                                                <td>Rs.{{cart_item.sub_total}}</td>                                             
                                                
                                            </tr>
                                            {% endfor %}
                                            
                                            <tr class="order-shipping">
                                                <td colspan="2">
                                                    <div class="shipping-amount">
                                                        <span class="title">Shipping Method</span>
                                                        
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="radio" id="radio1" name="shipping">
                                                        <label for="radio1"><strike>Free Shippping</strike></label>
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="radio" id="radio2" name="shipping">
                                                        <label for="radio2"><strike>Local</strike></label>
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="radio" id="radio3" name="shipping">
                                                        <label for="radio3"><strike>Flat rate</strike></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <td>Total</td>
                                                <td class="order-total-amount">{{total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <form method="POST">
                                <div class="order-payment-method">
                                    <div class="single-payment">
                                        <div class="input-group">
                                            <input type="radio" id="radio5" name="payment" checked>
                                            <label for="radio5">WhatsApp checkout</label>
                                        </div>
                                        <p>Pay with cash upon delivery.</p>
                                    </div>
                                    <div class="single-payment">
                                        <div class="input-group">
                                            <input type="radio" id="radio4" name="payment" onclick="this.checked=false;
                                            alert('Sorry, this option is not available!')">
                                            <label for="radio4">Direct bank transfer</label>
                                        </div>
                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                                    </div>
                                    <div class="single-payment">
                                        <div class="input-group">
                                            <input type="radio" id="radio5" name="payment" onclick="this.checked=false;
                                            alert('Sorry, this option is not available!')">
                                            <label for="radio5">Cash on delivery</label>
                                        </div>
                                        <p>Pay with cash upon delivery.</p>
                                    </div>
                                    <div class="single-payment">
                                        <div class="input-group justify-content-between align-items-center">
                                            <input type="radio" id="radio6" name="payment" onclick="this.checked=false;
                                            alert('Sorry, this option is not available!')">
                                            <label for="radio6">Paypal</label>
                                            <img src="{% static 'web/images/others/payment.png' %}" alt="Paypal payment">
                                        </div>
                                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                    </div>
                                </div>
                                
                                <a href="{{link}}" class="axil-btn btn-bg-primary checkout-btn">Process to Checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Checkout Area  -->

    </main>


    <div class="service-area">
        <div class="container">
            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="{% static 'web/images/icons/service1.png' %}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Fast &amp; Secure Delivery</h6>
                            <p>Tell about your service.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="{% static 'web/images/icons/service2.png' %}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Money Back Guarantee</h6>
                            <p>Within 10 days.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="{% static 'web/images/icons/service3.png' %}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">24 Hour Return Policy</h6>
                            <p>No question ask.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="{% static 'web/images/icons/service4.png' %}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Pro Quality Support</h6>
                            <p>24/7 Live support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}