{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}



    <main class="main-wrapper">
        <div class="axil-main-slider-area main-slider-style-1">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-5 col-sm-6">
                        <div class="main-slider-content">
                            <div class="slider-content-activation-one">
                                {% for banner_product in banner_product %}
                                <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="400" data-sal-duration="800">
                                    <span class="subtitle"><i class="fas fa-fire"></i> Hot Deal In This Week</span>
                                    <h1 class="title">{{banner_product.product_title}}</h1>
                                    <div class="slide-action">
                                        <div class="shop-btn">
                                            <a href="{% url 'web:shop' %}" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                                        </div>
                                        
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-6">
                        <div class="main-slider-large-thumb">
                            <div class="slider-thumb-activation-one axil-slick-dots">
                                {% for banner_product in banner_product %}
                                <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                                    <img src="{{banner_product.product_image.url}}" alt="Product">
                                    <div class="product-price">
                                        <span class="text">From</span>
                                        <span class="price-amount">{{banner_product.product_price}}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-1"><img src="{% static 'web/images/others/Mask group.png' %}" alt="Shape"></li>
                <li class="shape-2"><img src="{% static 'web/images/others/swreg.png' %}" alt="Shape"></li>
            </ul>
        </div>

        <!-- Start Categorie Area  -->
        <div class="axil-categorie-area bg-color-white axil-section-gapcommon">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-secondary"> <i class="far fa-tags"></i> Categories</span>
                    <h2 class="title">Browse by Category</h2>
                </div>
                <div class="categrie-product-activation slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide">
                    {% for category in category %}
                    <div class="slick-single-layout">
                        <div class="categrie-product" data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500">
                            <a href="shop?categories={{category.id}}">
                                <img class="img-fluid" src="{{category.category_image.url}}" alt="product categorie">
                                <h6 class="cat-title">{{category.category_name}}</h6>
                            </a>
                        </div>
                        <!-- End .categrie-product -->
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <!-- End Categorie Area  -->

        <!-- Poster Countdown Area  -->
        <div class="axil-poster-countdown">
            <div class="container">
                <div class="poster-countdown-wrap bg-lighter">
                    <div class="row">
                        {% for offers in offers %}
                        <div class="col-xl-5 col-lg-6">
                            <div class="poster-countdown-content">
                                <div class="section-title-wrapper">
                                    <span class="title-highlighter highlighter-secondary"> <i class="fal fa-headphones-alt"></i> Don’t Miss!!</span>
                                    <h2 class="title">{{offers.offer_title}}</h2>
                                </div>
                                <div class="poster-countdown countdown mb--40"></div>
                                <a href="{% url 'web:shop' %}" class="axil-btn btn-bg-primary">Check it Out!</a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6">
                            <div class="poster-countdown-thumbnail">
                                <img src="{{offers.product_image.url}}" alt="Poster Product">
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Poster Countdown Area  -->

        <!-- Start Expolre Product Area  -->
        <div class="axil-product-area bg-color-white axil-section-gap">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i> Our Products</span>
                    <h2 class="title">Explore our Products</h2>
                </div>
                <div class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                    <div class="slick-single-layout">
                        <div class="row row--15">
                            {% for products in products %}
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-6 mb--30">
                                <div class="axil-product product-style-one">
                                    <div class="thumbnail">
                                        <a href="{% url 'web:single-product' products.id %}">
        
                                            <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800" loading="lazy" class="main-img" src="{{products.product_image1.crop.255x255}}" alt="Product Images">
                                            
                                        </a>
                                        <div class="label-block label-right">
                                            <div class="product-badget">{{products.product_off}}% Off</div>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                
                                                <li class="select-option">
                                                    <a href="{% url 'web:single-product' products.id %}">
                                                        Buy Now
                                                    </a>
                                                </li>
                                                <li class="quickview"><a href="{% url 'web:add_cart' products.id  %}"><i class="fas fa-shopping-cart"></i></a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="inner">
                                            
                                            <h5 class="title"><a href="{% url 'web:single-product' products.id %}">{{products.product_name}}</a></h5>
                                            <div class="product-price-variant">
                                                <span class="price current-price">{{products.product_price}}Rs.</span>
                                                <span class="price old-price">{{products.product_old_price}}Rs.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}                          
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center mt--20 mt_sm--0">
                        <a href="{% url 'web:shop' %}" class="axil-btn btn-bg-lighter btn-load-more">View All Products</a>
                    </div>
                </div>

            </div>
        </div>
        <!-- End Expolre Product Area  -->

        <!-- Start Testimonila Area  -->
        <div class="axil-testimoial-area axil-section-gap bg-vista-white">
            <div class="container">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-secondary"> <i class="fal fa-quote-left"></i>Testimonials</span>
                    <h2 class="title">Users Feedback</h2>
                </div>
                <!-- End .section-title -->
                <div class="testimonial-slick-activation testimonial-style-one-wrapper slick-layout-wrapper--20 axil-slick-arrow arrow-top-slide">
                    {% for feedback in feedback %}
                    <div class="slick-single-layout testimonial-style-one">
                        <div class="review-speech">
                            <p>“{{feedback.feedback}}“</p>
                        </div>
                        <div class="media">
                            <div class="thumbnail">
                                <img src="{{feedback.user_image.crop.60x60}}" alt="testimonial image">
                            </div>
                            <div class="media-body">
                                <h6 class="title">{{feedback.username}}</h6>
                                <span class="designation">{{feedback.user_role}}</span>
                                
                            </div>
                        </div>
                        <!-- End .thumbnail -->
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- End Testimonila Area  -->



        <!-- Start Why Choose Area  -->
        <div class="axil-why-choose-area pb--50 pb_sm--30">
            <div class="container">
                <div class="section-title-wrapper section-title-center pt--50 pt_sm--30">
                    <span class="title-highlighter highlighter-secondary"><i class="fal fa-thumbs-up"></i>Why Us</span>
                    <h2 class="title">Why People Choose Us</h2>
                </div>
                <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20">
                    <div class="col-4">
                        <div class="service-box">
                            <div class="icon">
                                <img src="{% static 'web/images/icons/service6.png' %}" alt="Service">
                            </div>
                            <h6 class="title1">Fast &amp; Secure Delivery</h6>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="service-box">
                            <div class="icon">
                                <img src="{% static 'web/images/icons/service7.png' %}" alt="Service">
                            </div>
                            <h6 class="title1">100% Guarantee On Product</h6>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="service-box">
                            <div class="icon">
                                <img src="{% static 'web/images/icons/service8.png' %}" alt="Service">
                            </div>
                            <h6 class="title1">24 Hour Return Policy</h6>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="service-box">
                            <div class="icon">
                                <img src="{% static 'web/images/icons/service9.png' %}" alt="Service">
                            </div>
                            <h6 class="title1">24 Hour Return Policy</h6>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="service-box">
                            <div class="icon">
                                <img src="{% static 'web/images/icons/service10.png' %}" alt="Service">
                            </div>
                            <h6 class="title1">Next Level Pro Quality</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Why Choose Area  -->


        <!-- Start Axil Product Poster Area  -->
        <div class="axil-poster">
            <div class="container">
                <div class="row">
                    {% for ads in ads %}
                    <div class="col-lg-6 mb--30">
                        <div class="single-poster">
                            <a href="shop-sidebar.html">
                                <img src="{{ads.ad_image.url}}" alt="eTrade promotion poster">
                                <div class="poster-content content-left">
                                    <div class="inner">
                                        <span class="sub-title">{{ads.offer_title}}</span>
                                        <h3 class="title">{{ads.ad_title}}</h3>
                                    </div>
                                </div>
                                <!-- End .poster-content -->
                            </a>
                        </div>
                        <!-- End .single-poster -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Axil Product Poster Area  -->

        <!-- Start Axil Newsletter Area  -->
        <div class="axil-newsletter-area axil-section-gap pt--0">
            <div class="container">
                <div class="etrade-newsletter-wrapper bg_image bg_image--5">
                    <div class="newsletter-content">
                        <span class="title-highlighter highlighter-primary2"><i class="fas fa-envelope-open"></i>Newsletter</span>
                        <h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
                        <div class="input-group newsletter-form">
                            <div class="position-relative newsletter-inner mb--15">
                                <input placeholder="example@gmail.com" type="text">
                            </div>
                            <button type="submit" class="axil-btn mb--15">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .container -->
        </div>
        <!-- End Axil Newsletter Area  -->

    </main>


    <div class="service-area">
        <div class="container">
            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="{% static 'web/images/icons/service1.png' %}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Fast &amp; Secure Delivery</h6>
                            <p>Tell about your service.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="{% static 'web/images/icons/service2.png' %}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Money Back Guarantee</h6>
                            <p>Within 10 days.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="{% static 'web/images/icons/service3.png' %}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">24 Hour Return Policy</h6>
                            <p>No question ask.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img src="{% static 'web/images/icons/service4.png' %}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Pro Quality Support</h6>
                            <p>24/7 Live support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}

    